<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css_file %}
    <link rel="stylesheet" href="{% static 'app.css' %}">
    {% endblock %}

    {% block title_name %}
    <title>Document</title>
    {% endblock %}
    
</head>
<body>
     <nav class="navbar">
    <a href="#" class="logo">MySite</a>
    <div class="menu-toggle" onclick="toggleMenu()">☰</div>
    <ul id="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>


  {% block body_code %}

  <h2>Welcome to movies page</h2>

    <!-- i want to convert the first 5 characters to capital letter -->

    <h2>Available movies list <br> {{movies}}</h2>

    <ul>
        {% for movie in movies %}

        <li>{{movie|upper}}</li>

        {% endfor %}
    </ul>

    <h3>Upcoming movies are {{upcoming|upper}}</h3>
    <img src = "{% static 'images/ai_gen.jpg'  %}"


  {% endblock %}

    


  <script>
    function toggleMenu() {
      const navLinks = document.getElementById('nav-links');
      navLinks.classList.toggle('active');
    }
  </script>





</body>
</html>